# API Settings
API_V1_STR=/api/v1
PROJECT_NAME="Incident Response Runbooks"

# Security
SECRET_KEY=yoursecretkeyhere
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=runbook_security

# Redis / Queue
REDIS_HOST=localhost
REDIS_PORT=6379

# Integrations
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...
JIRA_URL=https://devopstrio.atlassian.net
SERVICENOW_URL=https://devopstrio.service-now.com

# Monitoring
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
